.cv-header
{
    background-image: url('../../image/cvBackground.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.cv-header::after
{
    content: '';
    position: absolute;
    background-color: rgb(31, 30, 30);
    opacity: 0.5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    z-index: 1;

}

.cv-header-info
{
    padding-left: 15vw;
}



.cv-header-sd
{
    letter-spacing: 1vw;
    color: rgb(255, 200, 0);
    font-weight: bold;
    font-family: MOON;
}

.cv-header-text
{ 
    width: 35vw;
    font-size: 1vw;
}


.swiper
{
    width: 90vw;
}


@media only screen and (max-width: 767px) {
    .cv-header-text
    { 
        width: 50vw;
        font-size: 2vw;
    }
}